@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
.header{
    background: url(bg.png) no-repeat;
    color: rgb(255, 255, 255);
    font-weight: solid bold ;
    text-align: center;
    margin: auto;
    padding: .7rem;
    
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
}

body{
   
    font-family: 'Cabin', sans-serif;
}
.first-car-name{
    font-size: 2rem;
    display: inline;
    margin-left: 20vw;
}
.first-car-prize{
    display: flex;
    font-size: 1.5rem;
    display: inline;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 23vw;
}
.first-car{
    display: flex;
    justify-content: left;
    float: none;
    
    
}
.first-car-img{
    width: 40vw;
    display: inline;
    float:left;
}
 

.first-car-para{
   margin-left: auto;
   font-size: 1rem;
}
.second-car-img{
    display: flex;
    justify-content: right;
    width: 40vw;
    margin-top: 20vh;
}
