@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.header{
    background: url(car6.webp) no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}
.cars{
    font-family: 'Ubuntu', sans-serif;
}
.intro{
    display: grid;
    height: 100vh;
    place-items: center;
    color: rgb(251, 251, 251);
}
.introduction{
    font-size: 3rem;
    font-weight: bold;
    margin-top:-35vh;
    margin-left: -50rem;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    font-family: 'Titillium Web', sans-serif,900px;
    margin-bottom: 15rem;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0rem;
    text-align: center;
    background-color:white;
    animation-name: om;
    animation-duration: 2.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes om{
    from{background-color: black; color: white;}
    to{background-color: white; color: black;}

}
.top10{
    font-size: 1.5rem;
    font-weight: bold;
    color:  #ffffff;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 3rem;
    padding: .5rem;
    float: left;
    margin-left: 30rem;
    margin-right: 3rem;

}
.aboutus{
    background-color: rgb(0, 162, 255);
    color: black;

    display: inline-block;
    line-height: 5rem;
    width: 25rem;
    text-align: center;
    margin-left: -1rem;
    border-radius: 10px;
    font-weight: 900;
    clip-path: circle(20.3% at 100% 0);
    transition: all .5s;
    margin-top: -.5rem;
    

    
}
.contactus{
    background-color: rgb(0, 162, 255);
    color: black;
    display: inline-block;
    line-height: 5rem;
    width: 25rem;
    text-align: center;
    border-radius: 10px;
    float: left;
    margin-top: -6.5rem;
    margin-right:15rem ;
    margin-left:1rem ;
    font-weight: 900;
    clip-path: circle(20.3% at 0 0);
    transition: all .7s;

}
.aboutus:hover{
    clip-path: circle(141.4% at 100% 0);
}
.contactus:hover{
    clip-path: circle(141.4% at 100% 0);
}
.extra{
    margin-left: 1rem;
    margin-top: -1rem;
    font-size: 3vh;
}
.first{
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;  
    display: inline;
    margin-right:2rem ;
}
.first-car{
    display: inline-block;
font-size: 4vh;
}
.first-car-info{
font-size: 3vh;

}
.second{
    margin-left: 1rem;
    margin-top: 3rem;
    float: right;  
    display: inline;
    margin-right:2rem;

}
.second-car{
    display: inline-block;
font-size: 4vh;
margin-left: 1rem;

}
.second-car-info{
    font-size: 3vh;
    margin-left: 1rem;
}
.third{
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;  
    display: inline;
    margin-right:2rem ;
}
.third-car{
    display: inline-block;
font-size: 4vh;
}
.third-car-info{
font-size: 3vh;

}
.fourth{
    margin-left: 1rem;
    margin-top: 3rem;
    float: right;  
    display: inline;
    margin-right:2rem;

}
.fourth-car{
    display: inline-block;
font-size: 4vh;
margin-left: 1rem;

}
.fourth-car-info{
    
    font-size: 3vh;
    margin-left: 1rem;
}
.fifth{
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;  
    display: inline;
    margin-right:2rem ;
}
.fifth-car{
    display: inline-block;
font-size: 4vh;
}
.fifth-car-info{
font-size: 3vh;

}
.sixth{
    margin-left: 1rem;
    margin-top: 3rem;
    float: right;  
    display: inline;
    margin-right:2rem;

}
.sixth-car{
    display: inline-block;
font-size: 4vh;
margin-left: 1rem;

}
.sixth-car-info{
    
    font-size: 3vh;
    margin-left: 1rem;
}
.seventh{
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;  
    display: inline;
    margin-right:2rem ;
}
.seventh-car{
    display: inline-block;
font-size: 4vh;
}
.seventh-car-info{
font-size: 3vh;
}
.eight{
    margin-left: 1rem;
    margin-top: 3rem;
    float: right;  
    display: inline;
    margin-right:2rem;

}
.eight-car{
    display: inline-block;
font-size: 4vh;
margin-left: 1rem;

}
.eight-car-info{
    
    font-size: 3vh;
    margin-left: 1rem;
}
.ninth{
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;  
    display: inline;
    margin-right:2rem ;
}
.ninth-car{
    display: inline-block;
font-size: 4vh;
}
.ninth-car-info{
font-size: 3vh;
}
.tenth{
    margin-left: 1rem;
    margin-top: 3rem;
    float: right;  
    display: inline;
    margin-right:2rem;
    margin-bottom: 3rem;

}
.tenth-car{
    display: inline-block;
font-size: 4vh;
margin-left: 1rem;

}
.tenth-car-info{
    font-size: 3vh;
    margin-left: 1rem;
}
@media screen and (max-width:550px) {
    .header {
        background: url(800413.jpg)no-repeat;
        background-size: 100vw;
    }
    .top10 {
        border-radius: none;
        float: none;
        display: grid;
        justify-content: center;
        margin-left: 1.8rem;
        font-size: 1.4rem;
        background-color: none;
    }
    .contactus {
        display: inline-block;
        margin-top: 40rem;
    }
    .aboutus {
        margin-left: 7rem;
        margin-top: -1rem;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        size: 5spx;
    }
    .introduction {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        margin-left: 3.5rem;
        margin-top: -110rem;
        margin-right: 3rem;
    }
    .cars {
        margin-top: -25rem;
    }
    .first {
        margin-left: 2.1rem;
        width: 80vw;
    }
    .first-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .first-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .second {
        margin-top: 25rem;
        margin-left: 1.9rem;
        width: 80vw;
    }
    .second-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .second-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .third {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .third-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .third-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fourth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .fourth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .fourth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fifth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .fifth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .fifth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sixth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .sixth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .sixth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .seventh {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .seventh-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .seventh-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .eight {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .eight-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .eight-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .ninth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .ninth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .ninth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .tenth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .tenth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .tenth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width:500px) {
    .header {
        background: url(800413.jpg)no-repeat;
        width: fit-content;
        background-size: 100vw;
    }
    .top10 {
        border-radius: none;
        float: none;
        display: grid;
        justify-content: center;
        margin-left: 1.8rem;
        font-size: 1.4rem;
        background-color: none;
    }
    .contactus {
        display: inline-block;
        margin-top: 30rem;
    }
    .aboutus {
        margin-left: 1rem;
        margin-top: 3rem;
        display: inline-block;
        padding-top: 2rem;
        padding-bottom: 1rem;
        size: 5px;
    }
    .introduction {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        margin-left: 3.5rem;
        margin-top: -100rem;
        margin-right: 3rem;
    }
    .cars {
        margin-top: -25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first {
        margin-left: 2.1rem;
        width: 80vw;
    }
    .first-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .first-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .second {
        margin-top: 25rem;
        margin-left: 1.9rem;
        width: 80vw;
    }
    .second-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .second-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .third {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .third-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .third-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fourth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .fourth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .fourth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fifth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .fifth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .fifth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sixth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .sixth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .sixth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .seventh {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .seventh-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .seventh-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .eight {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .eight-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .eight-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .ninth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .ninth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .ninth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .tenth {
        margin-top: 25rem;
        margin-left: 2.1rem;
        width: 80vw;
    }
    .tenth-car {
        display: inline-block;
        margin-left: 2rem;
    }
    .tenth-car-info {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}